<% if @rides.empty? %>
	<p>No rides in this month<p>
<% else %>
	<table>
		<thead>
			<th>Day</th>
			<th>Rides sum</th>
			<th>Avg. ride</th>
			<th>Avg. price</th>
			<th>Taxis</th>
		</thead>
		<tbody>
			<% @rides.each do |ride| %>
				<tr>
					<td><%= ride.created_at.strftime('%B, %eth') %></td>	
					<td><%= number_with_precision(ride.distance_sum, precision: 2, strip_insignificant_zeros: true) %> km</td>	
					<td><%= number_with_precision(ride.distance_avg, precision: 2, strip_insignificant_zeros: true) %> km</td>	
					<td><%= number_with_precision(ride.price_avg, precision: 2, strip_insignificant_zeros: true) %> EUR</td>	
					<td><%= ride.taxi_provider_names %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<br/>
<%= link_to 'Add ride', new_ride_path %>