<%= simple_form_for @ride do |f| %>
	<div>
		<%= f.input :origin %>
	</div>
	<div>
		<%= f.input :destination %>
	</div>
	<div>
		<%= f.input :price, input_html: { step: 0.01 } %>
	</div>
	<div>
		<%= f.association :taxi_provider %>
	</div>	
	<div>
		<%= f.submit 'Add ride' %>
	</div>
<% end %>
<br/>
<%= link_to 'ride stats', rides_path %>