<!DOCTYPE html>
<html>
<head>
  <title>Riderank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
	<div class="flash">
		<% flash.each do |key, value| %>
		  <%= content_tag :div, value, class: "flash #{key}" %>
		<% end %>
	</div>
	<%= yield %>
</div>
</body>
</html>
